{% extends "main/base.html" %}
{% load flatblock_tags %}
{% load main_tags %}
{% load sitetree %}

{% block slider %}
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    {% slider request %}
                </div>
                <div class="col-xs-3">
                    {% flatblock "slider_phone" %}
                    {% flatblock "after_phone" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_content %}

    <div class="main_content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">

                        {% if front_pages %}
                            {% for page in front_pages %}
                                <div class="col-xs-3">
                                    <h2>{{ page.name }}</h2>
                                    <p>{{ page.body|safe }}</p>
                                    <a href="/{{ page.slug }}">подробнее</a>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class="col-xs-3">
                            {% sitetree_menu from "article_links" include "trunk" %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}